@use '/src/scss/abstract/variables/sizing';
@use '/src/scss/abstract/variables/colors';
@use '/src/scss/abstract/mixins';

.menu {
	.menu-header {
		display: flex;
		flex-direction: column;
		justify-content: stretch;
	}
}

.menu.menu-closed {
	display: none;
}

.menu-toggle-hovered .menu.menu-closed {
	display: initial;
}

.menu-toggle-hovered.top-menu {
	display: flex;
}

.top-menu {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;

	display: flex;
	align-items: center;
	flex-direction: column;

	padding-left: sizing.$size-sm;
	padding-right: sizing.$size-sm;
	padding-top: sizing.$size-lg;
	padding-bottom: sizing.$size-lg;
	width: 100%;

	border-bottom-left-radius: sizing.$size-2xs;
	border-bottom-right-radius: sizing.$size-2xs;
	border-left: colors.$neutral-500 thin solid;
	border-right: colors.$neutral-500 thin solid;
	border-bottom: colors.$neutral-500 thin solid;
	background-color: colors.$neutral-50;

	@include mixins.shadow-sm;
	@include mixins.shadow-sm-clip($top: true);

	@include mixins.breakpoint('small') {
		padding-left: sizing.$root-md;
		padding-right: sizing.$root-md;
	}
}
