/**
 * Mulish font face
 */

/** Extra Light */
@font-face {
	font-family: mulish;
	src: url('/fonts/mulish/Mulish-ExtraLight.woff2') format('woff2'),
		url('/fonts/mulish/Mulish-ExtraLight.ttf') format('truetype');
	font-style: normal;
	font-weight: 200;
	font-display: swap;
}

/** Light */
@font-face {
	font-family: mulish;
	src: url('/fonts/mulish/Mulish-Light.woff2') format('woff2'),
		url('/fonts/mulish/Mulish-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}

/** Regular */
@font-face {
	font-family: mulish;
	src: url('/fonts/mulish/Mulish-Regular.woff2') format('woff2'),
		url('/fonts/mulish/Mulish-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

/** Medium */
@font-face {
	font-family: mulish;
	src: url('/fonts/mulish/Mulish-Medium.woff2') format('woff2'),
		url('/fonts/mulish/Mulish-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

/** Semi Bold */
@font-face {
	font-family: mulish;
	src: url('/fonts/mulish/Mulish-SemiBold.woff2') format('woff2'),
		url('/fonts/mulish/Mulish-SemiBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

/** Bold */
@font-face {
	font-family: mulish;
	src: url('/fonts/mulish/Mulish-Bold.woff2') format('woff2'),
		url('/fonts/mulish/Mulish-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

/** ExtraBold */
@font-face {
	font-family: mulish;
	src: url('/fonts/mulish/Mulish-ExtraBold.woff2') format('woff2'),
		url('/fonts/mulish/Mulish-ExtraBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 800;
	font-display: swap;
}

/** Italic Extra Light */
@font-face {
	font-family: mulish;
	src: url('/fonts/mulish/Mulish-ExtraLightItalic.woff2') format('woff2'),
		url('/fonts/mulish/Mulish-ExtraLightItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 200;
	font-display: swap;
}

/** Italic Light */
@font-face {
	font-family: mulish;
	src: url('/fonts/mulish/Mulish-LightItalic.woff2') format('woff2'),
		url('/fonts/mulish/Mulish-LightItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 300;
	font-display: swap;
}

/** Italic */
@font-face {
	font-family: mulish;
	src: url('/fonts/mulish/Mulish-Italic.woff2') format('woff2'),
		url('/fonts/mulish/Mulish-Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: 400;
	font-display: swap;
}

/** Medium Italic */
@font-face {
	font-family: mulish;
	src: url('/fonts/mulish/Mulish-MediumItalic.woff2') format('woff2'),
		url('/fonts/mulish/Mulish-MediumItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 500;
	font-display: swap;
}

/** Semi Bold Italic */
@font-face {
	font-family: mulish;
	src: url('/fonts/mulish/Mulish-SemiBoldItalic.woff2') format('woff2'),
		url('/fonts/mulish/Mulish-SemiBoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 600;
	font-display: swap;
}

/** Bold Italic */
@font-face {
	font-family: mulish;
	src: url('/fonts/mulish/Mulish-BoldItalic.woff2') format('woff2'),
		url('/fonts/mulish/Mulish-BoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 700;
	font-display: swap;
}

/** Extra Bold Italic */
@font-face {
	font-family: mulish;
	src: url('/fonts/mulish/Mulish-ExtraBoldItalic.woff2') format('woff2'),
		url('/fonts/mulish/Mulish-ExtraBoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 800;
	font-display: swap;
}


/**
 * Open Sans font face
 */

/** Extra Light */
@font-face {
	font-family: open-sans;
	src: url('/fonts/open-sans/OpenSans-ExtraLight.woff2') format('woff2'),
		url('/fonts/open-sans/OpenSans-ExtraLight.ttf') format('truetype');
	font-style: normal;
	font-weight: 200;
	font-display: swap;
}

/** Light */
@font-face {
	font-family: open-sans;
	src: url('/fonts/open-sans/OpenSans-Light.woff2') format('woff2'),
		url('/fonts/open-sans/OpenSans-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}

/** Regular */
@font-face {
	font-family: open-sans;
	src: url('/fonts/open-sans/OpenSans-Regular.woff2') format('woff2'),
		url('/fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

/** Medium */
@font-face {
	font-family: open-sans;
	src: url('/fonts/open-sans/OpenSans-Medium.woff2') format('woff2'),
		url('/fonts/open-sans/OpenSans-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

/** Semi Bold */
@font-face {
	font-family: open-sans;
	src: url('/fonts/open-sans/OpenSans-SemiBold.woff2') format('woff2'),
		url('/fonts/open-sans/OpenSans-SemiBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

/** Bold */
@font-face {
	font-family: open-sans;
	src: url('/fonts/open-sans/OpenSans-Bold.woff2') format('woff2'),
		url('/fonts/open-sans/OpenSans-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

/** ExtraBold */
@font-face {
	font-family: open-sans;
	src: url('/fonts/open-sans/OpenSans-ExtraBold.woff2') format('woff2'),
		url('/fonts/open-sans/OpenSans-ExtraBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 800;
	font-display: swap;
}

/** Italic Extra Light */
@font-face {
	font-family: open-sans;
	src: url('/fonts/open-sans/OpenSans-ExtraLightItalic.woff2') format('woff2'),
		url('/fonts/open-sans/OpenSans-ExtraLightItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 200;
	font-display: swap;
}

/** Italic Light */
@font-face {
	font-family: open-sans;
	src: url('/fonts/open-sans/OpenSans-LightItalic.woff2') format('woff2'),
		url('/fonts/open-sans/OpenSans-LightItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 300;
	font-display: swap;
}

/** Italic */
@font-face {
	font-family: open-sans;
	src: url('/fonts/open-sans/OpenSans-Italic.woff2') format('woff2'),
		url('/fonts/open-sans/OpenSans-Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: 400;
	font-display: swap;
}

/** Medium Italic */
@font-face {
	font-family: open-sans;
	src: url('/fonts/open-sans/OpenSans-MediumItalic.woff2') format('woff2'),
		url('/fonts/open-sans/OpenSans-MediumItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 500;
	font-display: swap;
}

/** Semi Bold Italic */
@font-face {
	font-family: open-sans;
	src: url('/fonts/open-sans/OpenSans-SemiBoldItalic.woff2') format('woff2'),
		url('/fonts/open-sans/OpenSans-SemiBoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 600;
	font-display: swap;
}

/** Bold Italic */
@font-face {
	font-family: open-sans;
	src: url('/fonts/open-sans/OpenSans-BoldItalic.woff2') format('woff2'),
		url('/fonts/open-sans/OpenSans-BoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 700;
	font-display: swap;
}

/** Extra Bold Italic */
@font-face {
	font-family: open-sans;
	src: url('/fonts/open-sans/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
		url('/fonts/open-sans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 800;
	font-display: swap;
}
