@use '/src/scss/abstract/variables/sizing';
@use '/src/scss/abstract/variables/colors';
@use '/src/scss/abstract/variables/fonts';
@use '/src/scss/abstract/mixins';

.header-menu-toggle {
	height: sizing.$root-xl;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: sizing.$root-xs;
	padding-left: sizing.$root-sm;
	padding-right: sizing.$root-sm;
	border-radius: sizing.$root-2xs;
	background-color: colors.$primary-700;
	border: colors.$primary-600 thin solid;
	color: colors.$white;
	font-family: fonts.$display;
	font-weight: 700;
	@include mixins.text-label;
	@include mixins.transition-colors;

	@include mixins.breakpoint('small') {
		@include mixins.text-body;
	}

	.logo {
		height: sizing.$root-md;
	}
}

.header-menu-toggle:hover {
	cursor: pointer;
	background-color: colors.$primary-600;
	border-color: colors.$primary-500;
}

/* purgecss ignore */
.header-menu-toggle[aria-expanded="true"] {
	background-color: colors.$primary-600;
	border: none;
	outline: colors.$primary-200 2px solid;
}
