@use '/src/scss/abstract/variables/sizing';
@use '/src/scss/abstract/variables/colors';
@use '/src/scss/abstract/variables/animations';
@use '/src/scss/abstract/mixins';
@use '/src/scss/abstract/functions';

// Animation speed for sticky transition
$sticking-transtion-speed: animations.$transition-medium;

// Height of logo at breakpoints
$logo-height: sizing.$size-lg;
$logo-height-medium: functions.half-step-up(sizing.$size-lg);

// Height of logo subheading
$subheading-height: sizing.$size-label * sizing.$line-height-label;

// Height of the top of the header at breakpoints
$header-top-height: calc($logo-height + sizing.$size-sm * 2);
$header-top-height-large: calc($logo-height-medium + sizing.$size-md * 2 + $subheading-height + sizing.$size-xs);

// Height of the header at breakpoints
$header-height: calc(sizing.$size-xl + sizing.$size-sm * 2);
$header-height-medium: calc(sizing.$size-xl + sizing.$size-md * 2);
$header-height-large: calc($header-top-height-large + sizing.$size-xs * 2 + sizing.$size-body * sizing.$line-height-body);

#header {
	position: sticky;
	top: 0;
	z-index: 5;
	height: $header-height;
	width: 100%;
	color: colors.$white;

	@include mixins.breakpoint('medium') {
		height: $header-height-medium;
	}

	@include mixins.breakpoint('large') {
		height: $header-height-large;
	}

	.header-wrapper {
		@include mixins.shadow-sm;
	}

	.header-top {
		position: relative;
		width: 100%;
		padding-left: sizing.$size-sm;
		padding-right: sizing.$size-sm;
		padding-top: sizing.$size-sm;
		padding-bottom: sizing.$size-sm;
		background-color: colors.$primary-700;
		display: flex;
		justify-content: center;
		@include mixins.transition(padding, $sticking-transtion-speed);

		@include mixins.breakpoint('small') {
			padding-left: sizing.$size-md;
			padding-right: sizing.$size-md;
		}

		@include mixins.breakpoint('medium') {
			padding-top: sizing.$size-md;
			padding-bottom: sizing.$size-md;
		}
	}

	.header-top .container {
		position: relative;
		display: flex;
		flex-direction: row;
	}

	.header-skip-to {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		padding-left: sizing.$size-md;
		padding-right: sizing.$size-md;
		padding-top: sizing.$size-md;
		padding-bottom: sizing.$size-md;
		background-color: colors.$primary-600;
		color: colors.$white;
		text-decoration: underline;
	}

	.header-skip-to:not(:focus-visible) {
		@include mixins.visually-hidden;
	}

	.logo-container {
		@include mixins.transition(gap, $sticking-transtion-speed);
	}

	.logo-container .logo {
		height: $logo-height;
		@include mixins.transition(height, $sticking-transtion-speed);

		@include mixins.breakpoint('medium') {
			height: $logo-height-medium;
		}
	}

	.logo-subheading {
		display: none;
		overflow: hidden;
		height: calc(sizing.$size-label * sizing.$line-height-label);
		@include mixins.transition(height, $sticking-transtion-speed);

		@include mixins.breakpoint('large') {
			display: block;
		}
	}

	.right-align {
		display: flex;
		justify-content: end;
		align-items: center;
		gap: sizing.$size-xs;
		width: 100%;
	}

	.search-box {
		display: none;

		@include mixins.breakpoint('large') {
			display: flex;
		}
	}

	.search-menu-toggle,
	.header-menu-toggle {
		display: flex;

		@include mixins.breakpoint('large') {
			display: none;
		}
	}

	.header-bottom {
		display: none;
		width: 100%;
		padding-left: sizing.$size-md;
		padding-right: sizing.$size-md;
		justify-content: center;
		background-color: colors.$primary-600;

		@include mixins.breakpoint('large') {
			display: flex;
		}
	}

	.header-bottom .container {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}

	.main-navigation-links {

		display: flex;
		align-items: center;
		justify-content: start;
		list-style: none;
	}

	.utility-navigation {
		flex: 1;
		display: flex;
		justify-content: end;
	}

	.utility-navigation-links {
		display: flex;
		flex-direction: row;
		align-items: center;
		list-style: none;
	}
}

#header.header-sticking {
	.header-top {
		padding-top: sizing.$size-sm;
		padding-bottom: sizing.$size-sm;
	}

	.logo-container {
		gap: 0;
	}

	.logo-container .logo {
		height: sizing.$size-lg;
	}

	.logo-container .logo-subheading {
		height: 0;
	}
}
