@use '/src/scss/abstract/variables/sizing';
@use '/src/scss/abstract/variables/colors';
@use '/src/scss/abstract/mixins';
@use '/src/scss/abstract/functions';

.header {
	position: sticky;
	top: 0;
	z-index: 5;
	width: 100%;
	color: colors.$white;
	@include mixins.shadow-sm;

	.header-top {
		position: relative;
		width: 100%;
		padding-left: sizing.$size-sm;
		padding-right: sizing.$size-sm;
		padding-top: sizing.$size-sm;
		padding-bottom: sizing.$size-sm;
		background-color: colors.$primary-700;
		display: flex;
		justify-content: center;

		@include mixins.breakpoint('small') {
			padding-left: sizing.$size-md;
			padding-right: sizing.$size-md;
		}

		@include mixins.breakpoint('medium') {
			padding-top: sizing.$size-md;
			padding-bottom: sizing.$size-md;
		}
	}

	.header-top .container {
		position: relative;
		display: flex;
		flex-direction: row;
	}

	.header-skip-to {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		padding-left: sizing.$size-md;
		padding-right: sizing.$size-md;
		padding-top: sizing.$size-md;
		padding-bottom: sizing.$size-md;
		background-color: colors.$primary-600;
		color: colors.$white;
		text-decoration: underline;
	}

	.header-skip-to:not(:focus-visible) {
		@include mixins.visually-hidden;
	}

	.logo-container .logo {
		height: sizing.$size-lg;

		@include mixins.breakpoint('medium') {
			height: functions.half-step-up(sizing.$size-lg);
		}
	}

	.logo-subheading {
		display: none;

		@include mixins.breakpoint('large') {
			display: block;
		}
	}

	.right-align {
		display: flex;
		justify-content: end;
		align-items: center;
		gap: sizing.$size-xs;
		width: 100%;
	}

	.search-box-container {
		display: none;

		@include mixins.breakpoint('large') {
			display: flex;
		}
	}

	.search-menu-toggle,
	.header-menu-toggle {
		display: flex;

		@include mixins.breakpoint('large') {
			display: none;
		}
	}

	.header-bottom {
		display: none;
		width: 100%;
		padding-left: sizing.$size-md;
		padding-right: sizing.$size-md;
		justify-content: center;
		background-color: colors.$primary-600;

		@include mixins.breakpoint('large') {
			display: flex;
		}
	}

	.header-bottom .container {
		display: flex;
		flex-direction: row;
	}

	.primary-navigation {
		display: flex;
		align-items: center;
		justify-content: start;
	}

	.secondary-navigation {
		display: flex;
		width: 100%;
		flex-direction: row;
		align-items: center;
		justify-content: end;
	}
}
