@use "/src/scss/abstract/variables/sizing";
@use "/src/scss/abstract/variables/colors";
@use "/src/scss/abstract/mixins";
@use "/src/scss/abstract/functions";
@use "/src/scss/components/Button";
@use 'sass:color';

.hero-banner {
	position: relative;
	z-index: 0;
	display: flex;
	overflow: hidden;
	width: 100%;
	border-radius: sizing.$size-2xs;
	border: colors.$neutral-500 thin solid;
	background-color: colors.$neutral-500;
	color: colors.$white;
	@include mixins.shadow-sm;
}

.hero-banner-image-wrapper {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: colors.$neutral-500;
}

.hero-banner-image-wrapper::after {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: inline-block;
	content: '';
	$gradient-dark: rgba(0, 0, 0, 0.85);
	$gradient-light: rgba(0, 0, 0, 0);
	$gradient-start: 15%;
	$gradient-stop: 85%;
	background: rgba(0, 0, 0, 0.6);
	background: -webkit-linear-gradient(0deg, $gradient-dark $gradient-start, $gradient-light $gradient-stop);
	background: -moz-linear-gradient(0deg, $gradient-dark $gradient-start, $gradient-light $gradient-stop);
	background: linear-gradient(0deg, $gradient-dark $gradient-start, $gradient-light $gradient-stop);
	// mask: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) $gradient-stop);
	// backdrop-filter: blur(8px);
}

.hero-banner-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hero-banner-body {
	display: flex;
	flex-direction: column;
	justify-content: end;
	width: 100%;
	padding-left: sizing.$size-md;
	padding-right: sizing.$size-md;
	padding-top: sizing.$size-lg;
	padding-bottom: sizing.$size-lg;

	@include mixins.breakpoint('medium') {
		padding-left: sizing.$size-xl;
		padding-right: sizing.$size-xl;
		padding-top: sizing.$size-2xl;
		padding-bottom: sizing.$size-xl;
	}

	@include mixins.breakpoint('large') {
		padding-left: sizing.$size-xl;
		padding-right: sizing.$size-xl;
		padding-top: sizing.$size-xl;
		padding-bottom: sizing.$size-xl;
	}
}

.hero-banner-header {
	@include mixins.text-title-1;

	@include mixins.breakpoint('large') {
		@include mixins.text-display-2;
	}
}

.hero-banner-paragraph {
	margin-top: sizing.$size-xs;
	margin-bottom: sizing.$size-lg;
	max-width: sizing.$width-body;

	@include mixins.breakpoint('small') {
		margin-top: sizing.$size-xs;
		margin-bottom: sizing.$size-md;
	}

	@include mixins.breakpoint('medium') {
		margin-top: sizing.$size-sm;
		margin-bottom: sizing.$size-lg;
	}
}

.hero-banner-buttons {
	display: flex;
	flex-direction: column;
	gap: sizing.$size-sm;

	@include mixins.breakpoint('small') {
		flex-direction: row;
		justify-content: start;
		align-items: stretch;
		gap: sizing.$size-md;

		.button-neutral {
			font-weight: 400;
		}
	}

	@include mixins.breakpoint('medium') {
		@include Button.size-lg('.banner-button');
	}

	@include mixins.breakpoint('large') {
		@include Button.size-xl('.banner-button');
	}

	.button {
		justify-content: space-between;

		@include mixins.breakpoint('small') {
			justify-content: center;
		}
	}
}
