@use "/src/scss/abstract/variables/sizing";
@use "/src/scss/abstract/variables/colors";
@use "/src/scss/abstract/variables/fonts";
@use "/src/scss/abstract/mixins";
@use "/src/scss/abstract/functions";

.carousel-slide {
	display: flex;
	flex-direction: column;
	flex: 0 0 100%;
	align-self: stretch;
	scroll-snap-align: start;

	a {
		color: revert;
		text-decoration: revert;
	}
}

.carousel-slide-top {
	border-bottom: colors.$neutral-500 thin solid;
	width: 100%;
	height: functions.full-step-up(sizing.$size-md, 5);

	@include mixins.breakpoint('medium') {
		height: functions.quarter-step-up(sizing.$size-md, 24);
	}

	@include mixins.breakpoint('large') {
		height: functions.quarter-step-up(sizing.$size-md, 21);
	}

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.carousel-slide-body {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: sizing.$size-xs;
	padding-left: sizing.$size-sm;
	padding-right: sizing.$size-sm;
	padding-top: sizing.$size-md;
	padding-bottom: sizing.$size-xs;

	@include mixins.breakpoint('medium') {
		padding-left: sizing.$size-md;
		padding-right: sizing.$size-md;
	}

	hr {
		border-bottom: colors.$neutral-500 thin solid;
	}
}

.carousel-slide-title {
	font-family: fonts.$display;
	font-weight: 700;
	@include mixins.text-heading;
}

noscript,
div:has(> .carousel-slide-no-script) {
	display: flex;
	justify-content: center;
	align-items: end;
	text-align: center;
	height: 100%;
	font-weight: 700;
	@include mixins.text-label;
}

.carousel-slide-no-script {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: sizing.$size-sm;
}
