@use '/src/scss/abstract/variables/sizing';
@use '/src/scss/abstract/variables/colors';
@use '/src/scss/abstract/variables/fonts';
@use '/src/scss/abstract/mixins';

.bottom-nav-menu-toggle {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	padding-left: sizing.$size-2xs;
	padding-right: sizing.$size-2xs;
	padding-top: sizing.$size-2xs;
	padding-bottom: sizing.$size-2xs;
	font-family: fonts.$display;
	background-color: unset;
	@include mixins.text-label;

	.link-body {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: sizing.$size-xs;
		width: 100%;
		height: 100%;
		padding-left: sizing.$size-xs;
		padding-right: sizing.$size-xs;
		padding-top: sizing.$size-2xs;
		padding-bottom: sizing.$size-2xs;
		border-radius: sizing.$size-2xs;
		outline: colors.$primary-200 0px solid;
		color: colors.$neutral-600;
		@include mixins.transition-colors;
	}

	.link-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	.icon {
		color: colors.$neutral-400;
	}
}

.bottom-nav-menu-toggle:hover {
	cursor: pointer;
}

/** purgecss ignore */
.bottom-nav-menu-toggle:not([aria-expanded=true]) {
	.open-icon {
		display: block;
	}

	.close-icon {
		display: none;
	}
}

/* purgecss ignore */
.bottom-nav-menu-toggle:not([aria-expanded="true"]):hover .link-body {
	outline: colors.$primary-200 2px solid;
}

/* purgecss ignore */
.bottom-nav-menu-toggle[aria-expanded="true"] .link-body {
	background-color: colors.$primary-100;
	color: colors.$primary-600;
	font-weight: 700;
}

/* purgecss ignore */
.bottom-nav-menu-toggle[aria-expanded="true"] .icon {
	color: colors.$primary-600;
}


/* purgecss ignore */
.bottom-nav-menu-toggle[aria-expanded="true"] .open-icon {
	display: none;
}

/* purgecss ignore */
.bottom-nav-menu-toggle[aria-expanded="true"] .close-icon {
	display: block;
}

/* purgecss ignore */
.bottom-nav-menu-toggle:not([aria-expanded=true]).active {
	.link-body {
		color: colors.$primary-600;
		font-weight: 700;
	}

	.icon {
		color: colors.$primary-500;
	}
}
