@use '/src/scss/abstract/variables/sizing';
@use '/src/scss/abstract/variables/colors';
@use '/src/scss/abstract/variables/fonts';
@use '/src/scss/abstract/mixins';

.bottom-nav-link {
	display: flex;
	flex: 1;
}

.bottom-nav-link a {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	padding-left: sizing.$size-2xs;
	padding-right: sizing.$size-2xs;
	padding-top: sizing.$size-2xs;
	padding-bottom: sizing.$size-2xs;
	font-family: fonts.$display;
	@include mixins.text-label;

	.link-body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		padding-left: sizing.$size-xs;
		padding-right: sizing.$size-xs;
		padding-top: sizing.$size-2xs;
		padding-bottom: sizing.$size-2xs;
		border-radius: sizing.$size-2xs;
		outline: colors.$primary-200 0px solid;
		color: colors.$neutral-600;
		@include mixins.transition-colors;
	}

	.icon {
		color: colors.$neutral-400;
	}
}

/* purgecss ignore */
.bottom-nav-link a:hover .link-body {
	outline: colors.$primary-200 2px solid;
}

/* purgecss ignore */
.bottom-nav-link.active {
	.link-body {
		color: colors.$primary-600;
		font-weight: 700;
	}

	.icon {
		color: colors.$primary-500;
	}
}
