@use '/src/scss/abstract/variables/sizing';
@use '/src/scss/abstract/variables/colors';
@use '/src/scss/abstract/variables/fonts';
@use '/src/scss/abstract/mixins';

.bottom-nav-menu-toggle {
	display: flex;
	flex: 1;
}

.bottom-nav-menu-toggle-button {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	padding-left: sizing.$size-2xs;
	padding-right: sizing.$size-2xs;
	padding-top: sizing.$size-2xs;
	padding-bottom: sizing.$size-2xs;
	font-family: fonts.$display;
	background-color: unset;
	cursor: pointer;
	@include mixins.text-label;

	.link-body {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: sizing.$size-xs;
		width: 100%;
		height: 100%;
		padding-left: sizing.$size-xs;
		padding-right: sizing.$size-xs;
		padding-top: sizing.$size-2xs;
		padding-bottom: sizing.$size-2xs;
		border-radius: sizing.$size-2xs;
		outline: colors.$primary-200 0px solid;
		color: colors.$neutral-600;
		@include mixins.transition-colors;
	}

	.link-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	.icon {
		color: colors.$neutral-400;
	}
}

/** purgecss ignore */
.menu-toggle .bottom-nav-menu-toggle-button {
	.open-icon {
		display: block;
	}

	.close-icon {
		display: none;
	}
}

/* purgecss ignore */
.bottom-nav-menu-toggle-button:hover .link-body {
	outline: colors.$primary-200 2px solid;
}

/* purgecss ignore */
.menu-toggle-open .bottom-nav-menu-toggle-button {
	.icon {
		color: colors.$primary-600;
	}

	.link-body {
		background-color: colors.$primary-100;
		color: colors.$primary-600;
		font-weight: 700;
	}

	.open-icon {
		display: none;
	}

	.close-icon {
		display: block;
	}
}

/* purgecss ignore */
.active:not(.menu-toggle-open) .bottom-nav-menu-toggle-button {
	.link-body {
		color: colors.$primary-600;
		font-weight: 700;
	}

	.icon {
		color: colors.$primary-500;
	}
}
