@use '/src/scss/abstract/variables/sizing';
@use '/src/scss/abstract/functions';

.icon {
	fill: currentColor;
}

.icon-xs {
	height: sizing.$size-xs;
	width: auto;
}

.icon-sm {
	height: sizing.$size-sm;
	width: auto;
}

.icon-md {
	height: sizing.$size-md;
	width: auto;
}

.icon-lg {
	height: sizing.$size-lg;
	width: auto;
}

.icon-xl {
	height: sizing.$size-xl;
	width: auto;
}

.icon-label {
	height: sizing.$size-label;
	width: auto;
}

.icon-heading {
	height: sizing.$size-heading;
	width: auto;
}

.icon-title-3 {
	height: sizing.$size-title-3;
	width: auto;
}

.icon-title-2 {
	height: sizing.$size-title-2;
	width: auto;
}

.icon-title-1 {
	height: sizing.$size-title-1;
	width: auto;
}

.icon-display-2 {
	height: sizing.$size-display-2;
	width: auto;
}

.icon-display-1 {
	height: sizing.$size-display-1;
	width: auto;
}
