@use '/src/scss/abstract/variables/sizing';
@use '/src/scss/abstract/variables/fonts';
@use '/src/scss/abstract/mixins';

.logo-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: sizing.$size-xs;
	flex: none;
	width: fit-content;

	.logo {
		width: fit-content;
		fill: currentColor;
	}

	.logo-subheading {
		flex: none;
		font-family: fonts.$display;
		@include mixins.text-subheading;
	}
}
