@use '/src/scss/abstract/variables/sizing';
@use '/src/scss/abstract/variables/colors';
@use '/src/scss/abstract/variables/fonts';
@use '/src/scss/abstract/mixins';

select {
	display: flex;
	justify-content: start;
	align-items: center;
	padding-left: sizing.$size-sm;
	padding-right: sizing.$size-sm;
	padding-top: sizing.$size-xs;
	padding-bottom: sizing.$size-xs;
	border-radius: sizing.$size-2xs;
	border: colors.$neutral-500 thin solid;
	background-color: colors.$white;
	color: colors.$on-background;
	cursor: pointer;
	font-family: fonts.$regular;
	@include mixins.text-body;
}
