@use "/src/scss/abstract/variables/sizing";
@use "/src/scss/abstract/variables/colors";
@use "/src/scss/abstract/mixins";
@use "/src/scss/abstract/functions";

#page-footer {
	background-color: colors.$primary-700;
	color: colors.$white;

	.logo {
		height: functions.half-step-up($steps: 3);
	}
}

.footer-top {
	padding-top: sizing.$root-xl;
	padding-bottom: sizing.$root-xl;
	padding-left: sizing.$root-md;
	padding-right: sizing.$root-md;

	.container {
		display: grid;
		grid-template-rows: repeat(3, auto);
		grid-template-columns: repeat(2, 1fr);
		row-gap: sizing.$root-xl;

		@include mixins.breakpoint('medium') {
			grid-template-rows: repeat(2, auto);
			grid-template-columns: repeat(2, auto);
			row-gap: sizing.$root-lg;
			column-gap: sizing.$root-2xl;
		}

		@include mixins.breakpoint('large') {
			grid-template-rows: auto;
			grid-template-columns: repeat(4, auto);
			column-gap: sizing.$root-2xl;
		}
	}
}

.footer-blurb {
	grid-row: 1;
	grid-column: 1 / span 2;
	display: flex;
	flex-direction: column;
	gap: sizing.$size-md;

	@include mixins.breakpoint('medium') {
		grid-row: 1;
		grid-column: 1;
	}

	p {
		max-width: sizing.$width-body;
	}
}

.footer-about-nav {
	grid-row: 2;
	grid-column: 1;

	@include mixins.breakpoint('medium') {
		grid-row: 1;
		grid-column: 2;
	}
}

.footer-contact-nav {
	grid-row: 2;
	grid-column: 2;

	@include mixins.breakpoint('medium') {
		grid-row: 2;
		grid-column: 2;
	}

	@include mixins.breakpoint('large') {
		grid-row: 1;
		grid-column: 3;
	}
}

.footer-about-nav,
.footer-contact-nav {
	display: flex;
	flex-direction: column;
	gap: sizing.$size-md;

	h4 {
		@include mixins.text-heading;
	}

	.footer-nav-links {
		display: flex;
		flex-direction: column;
		gap: sizing.$size-sm;
	}

	a {
		width: fit-content;
	}

	a:hover {
		text-decoration: underline;
	}
}

.footer-social-links {
	grid-row: 3;
	grid-column: 1 / span 2;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	gap: sizing.$size-sm;

	@include mixins.breakpoint('medium') {
		grid-row: 2;
		grid-column: 1;
		justify-content: start;
		align-items: end;
	}

	@include mixins.breakpoint('large') {
		grid-row: 1;
		grid-column: 4;
		justify-content: end;
		align-items: start;
	}

	a {
		line-height: 0;
		@include mixins.transition-colors;
	}

	a:hover {
		color: colors.$primary-200;
	}

	.icon {
		@include mixins.breakpoint('large') {
			height: functions.half-step-up($steps: 3);
		}
	}
}

.footer-bottom {
	padding-top: sizing.$root-md;
	padding-bottom: sizing.$root-md;
	background-color: colors.$primary-800;
	color: colors.$white;
	text-align: center;
	@include mixins.text-label;

	.container {
		display: grid;
		grid-template-rows: repeat(3, auto);
		grid-template-columns: auto;
		row-gap: sizing.$root-lg;
		justify-items: center;

		@include mixins.breakpoint('medium') {
			grid-template-rows: repeat(2, auto);
			grid-template-columns: 1fr auto;
			row-gap: sizing.$root-md;
			column-gap: sizing.$root-lg;
			justify-items: start;
		}

		@include mixins.breakpoint('large') {
			grid-template-rows: auto;
			grid-template-columns: auto auto 1fr;
			column-gap: sizing.$root-md;
		}
	}

	a {
		text-decoration: underline;
	}
}

.footer-bottom-nav {
	display: flex;
	flex-direction: row;
	gap: sizing.$root-md;

	@include mixins.breakpoint('medium') {
		grid-row: 1;
		grid-column: 2;
	}

	span:first-child {
		display: none;

		@include mixins.breakpoint('large') {
			display: inline;
		}
	}
}

.footer-copyright {
	@include mixins.breakpoint('medium') {
		grid-row: 1;
		grid-column: 1;
	}
}

.footer-google-terms {
	@include mixins.breakpoint('medium') {
		grid-row: 2;
		grid-column: 1 / span 2;
	}

	@include mixins.breakpoint('large') {
		grid-row: 1;
		grid-column: 3;
		justify-self: end;
	}
}
