@use "/src/scss/abstract/variables/sizing";
@use "/src/scss/abstract/variables/colors";
@use "/src/scss/abstract/mixins";

.program-info-card {
	display: flex;
	flex-direction: column;
	border-radius: sizing.$size-2xs;
	border: colors.$neutral-500 thin solid;
	background-color: colors.$neutral-50;
	@include mixins.shadow-sm;
}

.program-info-card-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: sizing.$size-xs;
	padding-left: sizing.$size-sm;
	padding-right: sizing.$size-sm;
	padding-top: sizing.$size-sm;
	padding-bottom: sizing.$size-sm;
	border-bottom: colors.$neutral-500 thin solid;

	@include mixins.breakpoint('small') {
		padding-left: sizing.$size-md;
		padding-right: sizing.$size-md;
	}

	h3 {
		display: block;
		@include mixins.text-heading;
	}

	.icon {
		color: colors.$primary-600;
	}
}

.program-info-card-body {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	gap: sizing.$size-sm;
	padding-left: sizing.$size-sm;
	padding-right: sizing.$size-sm;
	padding-top: sizing.$size-md;
	padding-bottom: sizing.$size-md;

	@include mixins.breakpoint('medium') {
		padding-left: sizing.$size-md;
		padding-right: sizing.$size-md;
	}

	.button {
		justify-content: space-between;
	}
}
