/// Theme white color
$white: hsl(0, 0%, 100%);

/// Theme neutral color
$neutral-50: hsl(210, 20%, 98%);
$neutral-100: hsl(220, 14%, 96%);
$neutral-200: hsl(220, 13%, 91%);
$neutral-300: hsl(218, 14%, 84%);
$neutral-400: hsl(218, 12%, 64%);
$neutral-500: hsl(220, 10%, 46%);
$neutral-600: hsl(216, 15%, 34%);
$neutral-700: hsl(217, 21%, 27%);
$neutral-800: hsl(216, 31%, 17%);
$neutral-900: hsl(220, 43%, 11%);
$neutral-950: hsl(224, 72%, 4%);
$neutral: $neutral-500;

/// Theme primary color
$primary-50: hsl(203, 80%, 96%);
$primary-100: hsl(203, 86%, 89%);
$primary-200: hsl(202, 82%, 78%);
$primary-300: hsl(203, 89%, 67%);
$primary-400: hsl(203, 83%, 56%);
$primary-500: hsl(203, 85%, 45%);
$primary-600: hsl(203, 100%, 34%);
$primary-700: hsl(203, 100%, 23%);
$primary-800: hsl(203, 100%, 16%);
$primary-900: hsl(203, 100%, 9%);
$primary-950: hsl(202, 100%, 5%);
$primary: $primary-500;

/// Theme secondary color
$secondary-50: hsl(44, 79%, 91%);
$secondary-100: hsl(44, 79%, 87%);
$secondary-200: hsl(44, 80%, 79%);
$secondary-300: hsl(44, 79%, 71%);
$secondary-400: hsl(44, 79%, 63%);
$secondary-500: hsl(44, 79%, 55%);
$secondary-600: hsl(44, 79%, 47%);
$secondary-700: hsl(44, 79%, 35%);
$secondary-800: hsl(44, 79%, 23%);
$secondary-900: hsl(44, 79%, 11%);
$secondary-950: hsl(44, 76%, 5%);
$secondary: $secondary-500;

// Theme accent color
$accent-50: hsl(54, 91%, 95%);
$accent-100: hsl(57, 90%, 92%);
$accent-200: hsl(57, 92%, 85%);
$accent-300: hsl(59, 91%, 78%);
$accent-400: hsl(60, 92%, 71%);
$accent-500: hsl(61, 92%, 59%);
$accent-600: hsl(62, 92%, 47%);
$accent-700: hsl(63, 92%, 38%);
$accent-800: hsl(64, 91%, 23%);
$accent-900: hsl(66, 93%, 11%);
$accent-950: hsl(65, 92%, 5%);
$accent: $accent-500;

/// Theme background color
$background: $white;
/// Theme background contrast color
$on-background: $neutral-950;
