/// Theme white color
$white: hsla(0, 0%, 100%, 1);

/// Theme neutral color
$neutral-50: hsla(210, 20%, 98%, 1);
$neutral-100: hsla(220, 14%, 96%, 1);
$neutral-200: hsla(220, 13%, 91%, 1);
$neutral-300: hsla(218, 14%, 84%, 1);
$neutral-400: hsla(218, 12%, 64%, 1);
$neutral-500: hsla(220, 10%, 46%, 1);
$neutral-600: hsla(216, 15%, 34%, 1);
$neutral-700: hsla(217, 21%, 27%, 1);
$neutral-800: hsla(216, 31%, 17%, 1);
$neutral-900: hsla(220, 43%, 11%, 1);
$neutral-950: hsla(224, 72%, 4%, 1);
$neutral: $neutral-500;

/// Theme primary color
$primary-50: hsla(203, 80%, 96%, 1);
$primary-100: hsla(203, 86%, 89%, 1);
$primary-200: hsla(202, 82%, 78%, 1);
$primary-300: hsla(203, 89%, 67%, 1);
$primary-400: hsla(203, 83%, 56%, 1);
$primary-500: hsla(203, 85%, 45%, 1);
$primary-600: hsla(203, 100%, 34%, 1);
$primary-700: hsla(203, 100%, 23%, 1);
$primary-800: hsla(203, 100%, 16%, 1);
$primary-900: hsla(203, 100%, 9%, 1);
$primary-950: hsla(202, 100%, 5%, 1);
$primary: $primary-500;

/// Theme secondary color
$secondary-50: hsla(44, 79%, 91%, 1);
$secondary-100: hsla(44, 79%, 87%, 1);
$secondary-200: hsla(44, 80%, 79%, 1);
$secondary-300: hsla(44, 79%, 71%, 1);
$secondary-400: hsla(44, 79%, 63%, 1);
$secondary-500: hsla(44, 79%, 55%, 1);
$secondary-600: hsla(44, 79%, 47%, 1);
$secondary-700: hsla(44, 79%, 35%, 1);
$secondary-800: hsla(44, 79%, 23%, 1);
$secondary-900: hsla(44, 79%, 11%, 1);
$secondary-950: hsla(44, 76%, 5%, 1);
$secondary: $secondary-500;

// Theme accent color
$accent-50: hsla(54, 91%, 95%, 1);
$accent-100: hsla(57, 90%, 92%, 1);
$accent-200: hsla(57, 92%, 85%, 1);
$accent-300: hsla(59, 91%, 78%, 1);
$accent-400: hsla(60, 92%, 71%, 1);
$accent-500: hsla(61, 92%, 59%, 1);
$accent-600: hsla(62, 92%, 47%, 1);
$accent-700: hsla(63, 92%, 38%, 1);
$accent-800: hsla(64, 91%, 23%, 1);
$accent-900: hsla(66, 93%, 11%, 1);
$accent-950: hsla(65, 92%, 5%, 1);
$accent: $accent-500;

/// Theme background color
$background: $white;
/// Theme background contrast color
$on-background: $neutral-950;
