/// Base scaling factor for all sizing and spacing
$scaling-factor: 1.618;

/// Scaling factor for a full step
$full-step: $scaling-factor;
/// Scaling factor for a half step
$half-step: calc(round(pow($scaling-factor, 0.5), 0.001));
/// Scaling factor for a quarter step
$quarter-step: calc(round(pow($scaling-factor, 0.25), 0.001));
/// Scaling factor for a quarter step
$eighth-step: calc(round(pow($scaling-factor, 0.125), 0.001));


//
// Base sizing values
//


/// Increase a value by one or more full steps
/// @param {Number} $value - value to increase
/// @param {Number} $steps - number of steps to increase by
@function full-step-up($value: 1em, $steps: 1) {
	@return calc($value * round(pow($full-step, $steps), 0.001));
}

/// Decrease a value by one or more full steps
/// @param {Number} $value - value to decrease
/// @param {Number} $steps - number of steps to decrease by
@function full-step-down($value: 1em, $steps: 1) {
	@return calc($value / round(pow($full-step, $steps), 0.001));
}

$size-3xs: full-step-down(1em, 4);
$size-2xs: full-step-down(1em, 3);
$size-xs: full-step-down(1em, 2);
$size-sm: full-step-down(1em, 1);
$size-md: 1em;
$size-lg: full-step-up(1em, 1);
$size-xl: full-step-up(1em, 2);
$size-2xl: full-step-up(1em, 3);
$size-3xl: full-step-up(1em, 4);
$size-4xl: full-step-up(1em, 5);
$size-5xl: full-step-up(1em, 6);
$size-6xl: full-step-up(1em, 7);
$size-7xl: full-step-up(1em, 8);
$size-8xl: full-step-up(1em, 9);
$size-9xl: full-step-up(1em, 10);

$root-3xs: full-step-down(1rem, 4);
$root-2xs: full-step-down(1rem, 3);
$root-xs: full-step-down(1rem, 2);
$root-sm: full-step-down(1rem, 1);
$root-md: 1rem;
$root-lg: full-step-up(1rem, 1);
$root-xl: full-step-up(1rem, 2);
$root-2xl: full-step-up(1rem, 3);
$root-3xl: full-step-up(1rem, 4);
$root-4xl: full-step-up(1rem, 5);
$root-5xl: full-step-up(1rem, 6);
$root-6xl: full-step-up(1rem, 7);
$root-7xl: full-step-up(1rem, 8);
$root-8xl: full-step-up(1rem, 9);
$root-9xl: full-step-up(1rem, 10);


//
// Typography sizing values
//


$size-display-1: calc(1em * round(pow($full-step, 3), 0.001));
$size-display-2: calc(1em * round(pow($full-step, 2), 0.001));
$size-title-1: calc(1em * $full-step * $half-step);
$size-title-2: calc(1em * $full-step);
$size-title-3: calc(1em * $half-step);
$size-heading: calc(1em * $quarter-step);
$size-subheading: calc(1em / $quarter-step);
$size-body: 1em;
$size-label: calc(1em / $quarter-step / $eighth-step);

/// Width value for comfortable reading of body text
$width-body: calc(1em * round(pow($full-step, 7), 0.001) * $quarter-step);


//
// Line height values
//


$line-height-display-1: $quarter-step;
$line-height-display-2: $half-step;
$line-height-title-1: $half-step;
$line-height-title-2: $half-step;
$line-height-title-3: $half-step;
$line-height-heading: $half-step;
$line-height-subheading: $half-step;
$line-height-body: $full-step;
$line-height-label: $half-step;


// 
//Container sizing values
//


/// Max width value of layout containers
$size-container: calc(1em * round(pow($full-step, 9), 0.001) * $quarter-step);


//
// Breakpoint values
//

$breakpoints: (
	'small': (min-width: 480px),
	'medium': (min-width: 768px),
	'large': (min-width: 1200px),
);
