/**
 * Mulish font face
 */

/** Extra Light */
@font-face {
  font-family: mulish;
  src: url('/fonts/mulish/Mulish-ExtraLight.ttf') format('truetype');
  font-style: normal;
  font-weight: 200;
}

/** Light */
@font-face {
  font-family: mulish;
  src: url('/fonts/mulish/Mulish-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

/** Regular */
@font-face {
  font-family: mulish;
  src: url('/fonts/mulish/Mulish-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

/** Medium */
@font-face {
  font-family: mulish;
  src: url('/fonts/mulish/Mulish-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

/** Semi Bold */
@font-face {
  font-family: mulish;
  src: url('/fonts/mulish/Mulish-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

/** Bold */
@font-face {
  font-family: mulish;
  src: url('/fonts/mulish/Mulish-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

/** ExtraBold */
@font-face {
  font-family: mulish;
  src: url('/fonts/mulish/Mulish-ExtraBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 800;
}

/** Italic Extra Light */
@font-face {
  font-family: mulish;
  src: url('/fonts/mulish/Mulish-ExtraLightItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 200;
}

/** Italic Light */
@font-face {
  font-family: mulish;
  src: url('/fonts/mulish/Mulish-LightItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 300;
}

/** Italic */
@font-face {
  font-family: mulish;
  src: url('/fonts/mulish/Mulish-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}

/** Medium Italic */
@font-face {
  font-family: mulish;
  src: url('/fonts/mulish/Mulish-MediumItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 500;
}

/** Semi Bold Italic */
@font-face {
  font-family: mulish;
  src: url('/fonts/mulish/Mulish-SemiBoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 600;
}

/** Bold Italic */
@font-face {
  font-family: mulish;
  src: url('/fonts/mulish/Mulish-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 700;
}

/** Extra Bold Italic */
@font-face {
  font-family: mulish;
  src: url('/fonts/mulish/Mulish-ExtraBoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 800;
}


/**
 * Open Sans font face
 */

/** Extra Light */
@font-face {
  font-family: open-sans;
  src: url('/fonts/open-sans/OpenSans-ExtraLight.ttf') format('truetype');
  font-style: normal;
  font-weight: 200;
}

/** Light */
@font-face {
  font-family: open-sans;
  src: url('/fonts/open-sans/OpenSans-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

/** Regular */
@font-face {
  font-family: open-sans;
  src: url('/fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

/** Medium */
@font-face {
  font-family: open-sans;
  src: url('/fonts/open-sans/OpenSans-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

/** Semi Bold */
@font-face {
  font-family: open-sans;
  src: url('/fonts/open-sans/OpenSans-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

/** Bold */
@font-face {
  font-family: open-sans;
  src: url('/fonts/open-sans/OpenSans-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

/** ExtraBold */
@font-face {
  font-family: open-sans;
  src: url('/fonts/open-sans/OpenSans-ExtraBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 800;
}

/** Italic Extra Light */
@font-face {
  font-family: open-sans;
  src: url('/fonts/open-sans/OpenSans-ExtraLightItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 200;
}

/** Italic Light */
@font-face {
  font-family: open-sans;
  src: url('/fonts/open-sans/OpenSans-LightItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 300;
}

/** Italic */
@font-face {
  font-family: open-sans;
  src: url('/fonts/open-sans/OpenSans-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}

/** Medium Italic */
@font-face {
  font-family: open-sans;
  src: url('/fonts/open-sans/OpenSans-MediumItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 500;
}

/** Semi Bold Italic */
@font-face {
  font-family: open-sans;
  src: url('/fonts/open-sans/OpenSans-SemiBoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 600;
}

/** Bold Italic */
@font-face {
  font-family: open-sans;
  src: url('/fonts/open-sans/OpenSans-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 700;
}

/** Extra Bold Italic */
@font-face {
  font-family: open-sans;
  src: url('/fonts/open-sans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 800;
}
