@use '/src/scss/abstract/variables/sizing';
@use '/src/scss/abstract/mixins';

/**
 * Layout component for page section
 */
.section {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-left: sizing.$size-sm;
	padding-right: sizing.$size-sm;
	width: 100%;

	@include mixins.breakpoint('small') {
		padding-left: sizing.$size-md;
		padding-right: sizing.$size-md;
	}
}

/**
 * Layout component for maxiumum content width
 */
.container {
	width: 100%;
	max-width: sizing.$size-container;
}

/**
 * Layout component for visually hidding an element while keeping it available 
 * to assistive technologies
 */
.visually-hidden {
	@include mixins.visually-hidden;
}
