@use '/src/scss/abstract/variables/sizing';
@use '/src/scss/abstract/mixins';

.section {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-left: sizing.$size-sm;
	padding-right: sizing.$size-sm;
	width: 100%;

	@include mixins.breakpoint('small') {
		padding-left: sizing.$size-md;
		padding-right: sizing.$size-md;
	}
}

/**
 * Layout component for maxiumum width
 */
.container {
	width: 100%;
	max-width: sizing.$size-container;
}
