@use '/src/scss/abstract/variables/sizing';
@use '/src/scss/abstract/variables/colors';
@use '/src/scss/abstract/mixins';

/**
 * Layout component for page section
 */
.page-section {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-left: sizing.$size-sm;
	padding-right: sizing.$size-sm;
	width: 100%;

	@include mixins.breakpoint('small') {
		padding-left: sizing.$size-md;
		padding-right: sizing.$size-md;
	}
}

/**
 * Layout component for page section heading
 */
.page-section-heading {
	display: flex;
	flex-direction: column;
	gap: sizing.$size-xs;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@include mixins.text-title-2;
		color: colors.$primary-700;

		@include mixins.breakpoint('medium') {
			@include mixins.text-title-1;
		}
	}

	p {
		max-width: sizing.$width-body;
	}
}

/**
 * Layout component for maxiumum content width
 */
.container {
	width: 100%;
	max-width: sizing.$size-container;
}

/**
 * Layout component for visually hidding an element while keeping it available 
 * to assistive technologies
 */
.visually-hidden {
	@include mixins.visually-hidden;
}

hr {
	border-bottom: colors.$neutral-500 thin inset;
}
