@use "/src/scss/abstract/variables/sizing";
@use "/src/scss/abstract/variables/colors";
@use "/src/scss/abstract/mixins";
@use "/src/scss/abstract/functions";

#land-acknowledgment-section {
	display: flex;
	flex-direction: column;

	@include mixins.breakpoint('medium') {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

}

.acknowledgement-image {
	position: relative;
	width: 100%;
	height: sizing.$size-4xl;


	@include mixins.breakpoint('medium') {
		height: 100%;
	}

	img {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		background-color: colors.$neutral-100;
	}
}

.acknowledgement-container {
	display: flex;
	justify-content: start;
}

.acknowledgement-body {
	display: flex;
	flex-direction: column;
	gap: sizing.$size-lg;
	padding-left: sizing.$size-sm;
	padding-right: sizing.$size-sm;
	padding-top: sizing.$size-xl;
	padding-bottom: sizing.$size-2xl;
	width: 100%;
	max-width: calc(sizing.$size-container / 2);

	@include mixins.breakpoint('medium') {
		padding-left: sizing.$size-md;
		padding-right: sizing.$size-md;
		padding-top: sizing.$size-2xl;
	}

	@include mixins.breakpoint('large') {
		padding-left: sizing.$size-xl;
		padding-right: sizing.$size-xl;
		padding-top: sizing.$size-3xl;
		padding-bottom: sizing.$size-3xl;
	}
}
