@use '/src/scss/abstract/variables/sizing';
@use '/src/scss/abstract/variables/colors';
@use '/src/scss/abstract/variables/fonts';
@use '/src/scss/abstract/mixins';

.top-nav-menu-toggle .menu-toggle-button {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	gap: sizing.$size-2xs;
	height: 100%;
	padding-left: sizing.$size-sm;
	padding-right: sizing.$size-sm;
	padding-top: sizing.$size-xs;
	padding-bottom: sizing.$size-xs;
	background: none;
	color: colors.$white;
	font-family: fonts.$display;
	text-wrap: nowrap;
	cursor: pointer;
	@include mixins.text-body;
	@include mixins.transition-colors;

	* {
		font-family: fonts.$display;
		text-wrap: nowrap;
		@include mixins.text-body;
	}

	.open-icon {
		@include mixins.transition-transform;
	}
}

/* purgecss ignore */
.top-nav-menu-toggle .menu-toggle-button:hover {
	background-color: colors.$primary-500;

	.open-icon {
		transform: translateY(sizing.$size-2xs);
	}
}

/* purgecss ignore */
.top-nav-menu-toggle.active .menu-toggle-button {
	background-color: colors.$primary-800;
	font-weight: 700;
}

/* purgecss ignore */
.top-nav-menu-toggle.menu-toggle-open .menu-toggle-button {
	background-color: colors.$neutral-50;
	color: colors.$primary-700;
	font-weight: 700;
}

/* purgecss ignore */
.top-nav-menu-toggle .menu-toggle-button[aria-expanded="false"] {
	.icon {
		color: colors.$accent-500;
	}

	.open-icon,
	.close-icon {
		color: colors.$white;
	}
}

/* purgecss ignore */
.top-nav-menu-toggle.menu-toggle-open .open-icon {
	display: none;
}

/* purgecss ignore */
.top-nav-menu-toggle:not(.menu-toggle-open) .close-icon {
	display: none;
}
