@use '/src/scss/abstract/variables/sizing';
@use '/src/scss/abstract/variables/colors';
@use '/src/scss/abstract/variables/fonts';
@use '/src/scss/abstract/mixins';

.top-nav-link {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	gap: sizing.$size-2xs;
	height: 100%;
	padding-left: sizing.$size-sm;
	padding-right: sizing.$size-sm;
	padding-top: sizing.$size-xs;
	padding-bottom: sizing.$size-xs;
	color: colors.$white;
	font-family: fonts.$display;
	text-wrap: nowrap;
	@include mixins.text-body;
	@include mixins.transition-colors;

	* {
		font-family: fonts.$display;
		text-wrap: nowrap;
		@include mixins.text-body;
	}

	.icon {
		color: colors.$accent-500;
	}
}

.top-nav-link:hover {
	cursor: pointer;
	background-color: colors.$primary-500;
}

/* purgecss ignore */
.top-nav-link.active {
	background-color: colors.$primary-800;
	font-weight: 700;
}
