@use '/src/scss/abstract/variables/sizing';
@use '/src/scss/abstract/variables/animations';
@use '/src/scss/abstract/variables/colors';
@use 'sass:color';
@use 'sass:map';
@use 'sass:meta';


//
// Typography mixins
//


@mixin text-display-1 {
	font-size: sizing.$size-display-1;
	line-height: sizing.$line-height-display-1;
}

@mixin text-display-2 {
	font-size: sizing.$size-display-2;
	line-height: sizing.$line-height-display-2;
}

@mixin text-title-1 {
	font-size: sizing.$size-title-1;
	line-height: sizing.$line-height-title-1;
}

@mixin text-title-2 {
	font-size: sizing.$size-title-2;
	line-height: sizing.$line-height-title-2;
}

@mixin text-title-3 {
	font-size: sizing.$size-title-3;
	line-height: sizing.$line-height-title-3;
}

@mixin text-heading {
	font-size: sizing.$size-heading;
	line-height: sizing.$line-height-heading;
}

@mixin text-subheading {
	font-size: sizing.$size-subheading;
	line-height: sizing.$line-height-subheading;
}

@mixin text-body {
	font-size: sizing.$size-body;
	line-height: sizing.$line-height-body;
}

@mixin text-label {
	font-size: sizing.$size-label;
	line-height: sizing.$line-height-label;
}


//
// Breakpoint mixins
//


@mixin breakpoint($breakpoint) {
	$raw-query: map.get(sizing.$breakpoints, $breakpoint);

	@if $raw-query {
		$query: if(meta.type-of($raw-query)=='string',
				unquote($raw-query),
				meta.inspect($raw-query));

		@media #{$query} {
			@content;
		}
	}

	@else {
		@error 'Invalid breakpoint value `#{$breakpoint}`';
	}
}


//
// Shadow mixins
//


@mixin shadow-sm {
	box-shadow: 0 0 sizing.$size-sm sizing.$size-sm color.change(colors.$neutral-950, $alpha: 0.1);
}

@mixin shadow-md {
	box-shadow: 0 0 sizing.$size-md sizing.$size-md color.change(colors.$neutral-950, $alpha: 0.1);
}

@mixin shadow-lg {
	box-shadow: 0 0 sizing.$size-lg sizing.$size-lg color.change(colors.$neutral-950, $alpha: 0.1);
}


//
// Animation mixins
//


@mixin transition($props, $duration: animations.$transition-fast) {
	transition-property: $props;
	transition-duration: $duration;
	transition-timing-function: animations.$transition-timing;
}

@mixin transition-colors($duration: animations.$transition-fast) {
	@include transition(animations.$props-color, $duration);
}

@mixin transition-transform($duration: animations.$transition-fast) {
	@include transition(animations.$props-transform, $duration);
}


//
// Accessibility mixins
//


@mixin visually-hidden() {
	position: absolute;
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}
