@use '/src/scss/abstract/variables/colors';

/// Accent button styles
@mixin accent($selector: ".button.button-accent") {
	#{$selector} {
		background-color: colors.$accent-600;
		color: colors.$on-background;
		border-color: colors.$accent-800;
		font-weight: bold;
	}

	/* purgecss ignore */
	#{$selector}:not([aria-pressed="true"]):hover {
		background-color: colors.$accent-700;
	}

	/* purgecss ignore */
	#{$selector}:not([aria-pressed="true"]):active,
	#{$selector}[aria-pressed="true"] {
		background-color: colors.$accent-800;
	}
}

/// Accent button outline styles
@mixin accent-outline($selector: ".button-accent.button-outline") {
	#{$selector} {
		background-color: unset;
		color: colors.$on-background;
		border-color: colors.$accent-700;
		font-weight: bold;
	}

	/* purgecss ignore */
	#{$selector}:not([aria-pressed="true"]):hover {
		background-color: colors.$accent-100;
	}

	/* purgecss ignore */
	#{$selector}:not([aria-pressed="true"]):active,
	#{$selector}[aria-pressed="true"] {
		background-color: colors.$accent-200;
	}
}

@include accent;
@include accent-outline;
