@use '/src/scss/abstract/variables/colors';

/// Light button styles
@mixin light($selector: ".button.button-light") {
	#{$selector} {
		background-color: colors.$white;
		color: colors.$on-background;
	}

	/* purgecss ignore */
	#{$selector}:not([aria-pressed="true"]):hover {
		background-color: colors.$neutral-200;
	}

	/* purgecss ignore */
	#{$selector}:not([aria-pressed="true"]):active,
	#{$selector}[aria-pressed="true"] {
		background-color: colors.$neutral-300;
	}
}

@include light;
