@use '/src/scss/abstract/variables/colors';

/// Primary button styles
@mixin primary($selector: ".button.button-primary") {
	#{$selector} {
		background-color: colors.$primary-400;
		color: colors.$on-background;
		border-color: colors.$primary-600;
		font-weight: bold;
	}

	/* purgecss ignore */
	#{$selector}:not([aria-pressed="true"]):hover {
		background-color: colors.$primary-500;
	}

	/* purgecss ignore */
	#{$selector}:not([aria-pressed="true"]):active,
	#{$selector}[aria-pressed="true"] {
		background-color: colors.$primary-600;
	}
}

/// Primary button outline styles
@mixin primary-outline($selector: ".button-primary.button-outline") {
	#{$selector} {
		background-color: unset;
		color: colors.$on-background;
		border-color: colors.$primary-500;
		font-weight: bold;
	}

	/* purgecss ignore */
	#{$selector}:not([aria-pressed="true"]):hover {
		background-color: colors.$primary-100;
	}

	/* purgecss ignore */
	#{$selector}:not([aria-pressed="true"]):active,
	#{$selector}[aria-pressed="true"] {
		background-color: colors.$primary-200;
	}
}

@include primary;
@include primary-outline;
