@use '/src/scss/abstract/variables/colors';

/// Secondary button styles
@mixin secondary($selector: ".button.button-secondary") {
	#{$selector} {
		background-color: colors.$secondary-400;
		color: colors.$on-background;
		border-color: colors.$secondary-700;
		font-weight: bold;
	}

	/* purgecss ignore */
	#{$selector}:not([aria-checked="true"]):hover {
		background-color: colors.$secondary-500;
	}

	/* purgecss ignore */
	#{$selector}:not([aria-checked="true"]):active,
	#{$selector}[aria-checked=true] {
		background-color: colors.$secondary-700;
	}
}

/// Secondary button outline styles
@mixin secondary-outline($selector: ".button-secondary.button-outline") {
	#{$selector} {
		background-color: unset;
		color: colors.$on-background;
		border-color: colors.$secondary-600;
		font-weight: bold;
	}

	/* purgecss ignore */
	#{$selector}:not([aria-checked="true"]):hover {
		background-color: colors.$secondary-100;
	}

	/* purgecss ignore */
	#{$selector}:not([aria-checked="true"]):active,
	#{$selector}[aria-checked="true"] {
		background-color: colors.$secondary-200;
	}
}

@include secondary;
@include secondary-outline;
